HELP.md
target/
.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

application.yml
# Spring Boot profiles
src/main/resources/application-dev.yml
src/main/resources/application-prod.yml

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
.yml

### Logs ###
.log

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

# macOS
.DS_Store

# Logs
*.log
journalApp*.log

# Maven
/target/

# Sonar
.sonar/